@charset "utf-8";

$background-color: #fcfbf9;     
$text-color: #4a4a4a;           
$primary-color: #a0522d;        
$link-color-hover: #8b4513;     
$sidebar-color: #f4f1ea;        
$code-background-color: #faf9f6;

@import "minimal-mistakes";